/* For Datatables */
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 80px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 15px 0 30px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #444;
    font-size: 14px;
    background: url("../images/loading_bar.gif") no-repeat center 38px #fff;
!important;
    box-shadow: 2px 2px 5px #444;
    -moz-box-shadow: 2px 2px 5px #444;
    -webkit-box-shadow: 2px 2px 5px #444;
    z-index: 9999;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'FontAwesome';
    opacity: 0.5;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\f0dc";
    /* sort */
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    /* sort-by-attributes-alt */
}

/* Button Disabled */
.btn.disabled {
    transform: none !important;
    cursor: default;
    pointer-events: none;
}

/* Update Margin Form Group */
.form-group {
    margin-bottom: 2px;
!important;
}